<template>
    <div>
        <article class="media">
            <figure class="media-left">
                <router-link
                    v-if="comment.author.avatar"
                    class="image is-48x48 is-square"
                    :to="{ name: 'user-page', params: { id: comment.author.id } }"
                >
                    <img class="is-rounded fit" :src="comment.author.avatar">
                </router-link>

                <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                    <DefaultAvatar class="image is-48x48" :user="comment.author" />
                </router-link>
            </figure>
            <div class="media-content">
                <div class="content">
                    <div>
                        <strong>
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </strong>
                        <br>
                        {{ comment.body }}
                        <br>
                        <figure v-if="comment.imageUrl" class="image is-3by1 tweet-image">
                            <img
                                :src="comment.imageUrl"
                                alt="Comment image"
                            >
                        </figure>
                        <small class="has-text-grey">
                            {{ comment.created | createdDate }}
                        </small>
                    </div>
                    <div v-if="isCommentOwner(comment.id, user.id)" class="column is-narrow is-12-mobile">
                        <div class="buttons">
                            <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <b-modal :active.sync="isEditCommentTweetModalActive" has-modal-card>
            <EditCommentForm :comment="comment" />
        </b-modal>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import EditCommentForm from './EditCommentForm.vue';
import DefaultAvatar from '../../common/DefaultAvatar.vue';

export default {
    name: 'Comment',

    components: {
        EditCommentForm,
        DefaultAvatar,
    },

    data: () => ({
        isEditCommentTweetModalActive: false,
    }),

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),

        ...mapGetters('tweet', [
            'getTweetById',
            'isTweetOwner',
            'tweetIsLikedByUser'
        ]),

        ...mapGetters('comment', [
            'getCommentById',
            'isCommentOwner'
        ])
    },

    methods: {
        onEditComment() {
            this.isEditCommentTweetModalActive = true;
        },
    }
};
</script>

<style lang="scss" scoped>
    nav {
        margin-left: -8px;
    }

    .content {
        p {
            margin-bottom: 0;
        }
    }
</style>
